header .logo-link {
    text-transform: lowercase;
}

.opensourceinfo {
    background-color: #f2b643;
    color: black;
}

section.opensourceinfo div.container div.row div.col-md-6 h2 {
    color: #238bca;
}

.red-separator {
    background: #ba2828;
    height: 6rem;
}

.enter-draw-button {
    background: #ba2828;
    padding: 13px;
    border-radius: 25px;
    color: white;
}
