<footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter"  id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-60 col-sm-6">
                <h2 class="mb-30">cloudnative.nz</h2>
                <p class="lg">Working together to support our communities <br />into pathways in Open Source Cloud</p>
                <div class="social mt-60">
                    <a href="https://www.meetup.com/cloudnative-nz/" target="_blank" class="btn btn-secondary circle mr-30"><i class="fa-brands fa-meetup"></i></a>
                    
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Contact Details</h3>
                <p class="lg">
                    Tauranga, New Zealand <br/>
                    <a href="tel:0220648277">022 064 8277</a> <br/>
                    <a href="mailto:cloudnative@ii.coop">cloudnative@ii.coop</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        &copy; Copyright 2023 HE WAKA EKE NOA. All Rights Reserved.
    </div>
</div>
<a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
