<div class="hero full-screen">
    <div class="hero-slider" data-arrows="false" data-dots="false">
            <div class="slide">
                    <div class="box-image" data-bg="media/acvjndho/angel-balashev-zrcvfcfk5um-unsplashce28.jpg?anchor=center&amp;mode=crop&amp;width=1900&amp;height=980&amp;rnd=133040407203470000"></div>
                    <div class="container lg ">
                        <div class="box-text  lg middle center dark">
                            <div class="wow zoomInUp">
                                <h1>Learn Cloud Native</h1>
                                <p class="lg">Working together to support our communities into pathways<br />in Open Source technology</p>
                            </div>
                        </div>

                            <a href="opportunities/index.html" class="btn btn-secondary wow zoomInDown">Learn more</a>
                    </div>
            </div>
    </div>
</div>