{{ define "main" }}




<div id="start"></div>

            


        </div>

<div class="main-wrapper" itemscope itemprop="mainContentOfPage">

    {{ partial "hero.html" (dict "Params" .Params) }}
<section class="article-columns with-bg primary " id="s-1242">
    <div class="container box-container">
        <div class="container  text-center">
                <h2 class="styled">Join Our Waka <span></span></h2>
        </div>
        <div class="container  text-center">
                <div class="grid width-33 pad-md image-short ">
<div class="grid-item wow fadeInLeft" data-wow-delay="">
                            <div>
                                <a href="opportunities/index.html" class="box-image" data-bg="media/contribute.jpeg"></a>
                                <div class="box-text">
                                    <a href="opportunities/index.html"><h3 class="color-primary">Contribute</h3></a>
                                    <p>Find out how to become a Contributor and learn industry-ready tech skills to launch or further your career in Open Source Cloud Computing</p>
                                </div>
                            </div>
                        </div><div class="grid-item wow fadeInUp" data-wow-delay="">
                            <div>
                                <a href="about/index.html" class="box-image" data-bg="media/collaborate.jpeg"></a>
                                <div class="box-text">
                                    <a href="about/index.html"><h3 class="color-secondary">Collaborate</h3></a>
                                    <p>Work with us to provide rangatahi with learning and development opportunities in technology</p>
                                </div>
                            </div>
                        </div><div class="grid-item wow fadeInRight" data-wow-delay="">
                            <div>
                                <a href="community/index.html" class="box-image" data-bg="media/connect.jpeg"></a>
                                <div class="box-text">
                                    <a href="community/index.html"><h3 class="color-tertiary">Connect</h3></a>
                                    <p>See how we’re engaging with local schools, businesses, agencies and the global tech community</p>
                                </div>
                            </div>
                        </div>                </div>
        </div>
    </div>
</section>

<section class="banner-with-text default" style="background-image:url(media/rei-at-work.JPG)" id="s-1211"></section>
        <div class="container ">
            <div class="box-text clean center wow fadeInUp text- ">
                <div>
                    <h2> <span></span></h2>
                    
                </div>
            </div>
        </div>
</section>


<section class="rte-columns with-bg secondary  text-center  " id="s-1207">
    <div class="box-container container">
            <div class="container intro wow fadeInUp " data-wow-delay="0.3s">
                <h2 class="styled">Our Kaupapa <span></span></h2>
                
            </div>
        <div class="container ">
            <div class="grid width-33 pad-lg">
<div class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="btn btn-primary circle mb-30"><i class="fa-solid fa-code-pull-request"></i></div>
                        <p>Contribute to global tech projects without having to leave home, whether you’ve already started your career in tech or have zero experience</p>
                    </div><div class="grid-item wow fadeInUp" data-wow-delay="0.9s">
                        <div class="btn btn-secondary circle mb-30">
<i class="fa-brands fa-osi"></i>
</div>
                        <p>Open doors with Open Source and change the way you work, create and collaborate alongside a passionate and dedicated community</p>
                    </div><div class="grid-item wow fadeInUp" data-wow-delay="1.2s">
                        <div class="btn btn-tertiary circle mb-30"><i class="fa-solid fa-hand-holding-hand"></i></div>
                        <p>Get engaged in your local community through various workshops, projects and events to develop your skills, knowledge and networks.</p>
                    </div>            </div>
        </div>
    </div>
</section>

</div>

<div class="mobile-detail">
    <div class="mobile-detail-inner">
        <a href="/" class="icon-home track" data-category="Mobile" data-action="Footer Click" data-label="Home"></a>
            <a class="issues">LOCALITY MISSING</a>

                <a href="contact/index.html" class="icon-envelop track" data-category="Mobile" data-action="Footer Click" data-label="Contact"></a>
    </div>
</div>

{{ end }}